.banner-principal__img 
  padding-bottom: 0 !important;
  padding-top: 5rem !important;
.banner-principal__row .banner-principal__img 
    padding-right: 0 !important;
    width: 35%;
    
 

.titulo-principal.color-acento-contenido .titulo-principal__numero,
.cajon.color-acento-contenido
    background-color: $color-acento-contenido  !important

.cajon.color-acento-contenido:before
   background-color: $color-primario
.cajon.color-acento-botones
   background-color: #FFF5D3  
li.color-primario > i 
    color: $color-primario !important
.linea-tiempo-b.color-secundario .linea-tiempo-b__icon 
    background-color: $color-acento-botones;
.linea-tiempo-b.color-secundario .linea-tiempo-b__line:after 
    border-left: 4px dotted $color-primario;
.h-anexo
  height: 350px
.h-anexo-2
  height: 240px
.h-anexo-3
  height: 400px
.h-anexo-4
  height: 300px
.slyder-a__btn--sigt, .slyder-a__btn--atrs 
    background-color: $color-acento-botones;
    border: 1px solid $color-acento-botones;
.slyder-a__bullets__item--active 
    background-color: $color-primario;
    border-color: $color-primario;
.text-sistm
  color: $color-sistema-texto !important
.tarjeta--boton 
    border-radius: 10px;
    background-color: #FFF5D3;
.text-primario
  color: $color-primario
.tarjeta--purple.acordion__activo
    background-color: #E0D7F1;
    border-radius: 25px;
.tarjeta--purple
  border-bottom: 1px solid #E8E8E8
  border-radius: 0
.tarjeta--purple.acordion__activo .acordion__accion__btn--b
  border: 1px solid #12263F
.acordion__accion__btn--b
  border: 1px solid #AFAFAF
.w-10-cus
  width: 10% !important
.tabs-c__tab--active span
  font-weight: bold !important
.tabs-c.color-primario .tabs-c__tab--active
  background-color: #FFF 
.tabs-c__tab
  background-color: #FAFAFA 
.fullview
  background: #FFF5D3
  background-position: center
  background-size: cover
  margin-inline: -3.4rem
.fullview-blue
  background: #F0ECF8
  background-position: center
  background-size: cover
  margin-inline: -3.4rem
  border-radius: 15px
.fullview-purple
  background: linear-gradient(to bottom, #fff, #F7F5FB, #F0ECF8, #F7F5FB, #fff);
  background-position: center
  background-size: cover
  margin-inline: -3.4rem
  padding-left: 3.5rem !important
  padding-right: 3.5rem !important
.bg01
  background-color: #E7E0F4
  border-radius: 15px
.bg02
  background-color: #F4EEFF
.bg03
  background-color: #FFFDF4
.bg04
  background-color: #FFF5D3
  border-radius: 0px !important
  position: relative
  top: -15px
  z-index: 0
.bg05
  background-color: $color-acento-botones
  border-radius: 0 0  15px 15px
  height: 60px
.bg06
  background-color: #F6F6F6

.bg07
  background-color:#FAFAFA
  border-radius: 15px
.bg-tx
  background-color: transparent !important
  border: 1.5px solid #D1BCFF
.bg-theader
  background-color: #D1BCFF !important
  border: 1.5px solid #D1BCFF
.tabs-c 
    border-bottom: 0 !important
.tabs-c__tab--active
  z-index: 1
.h-card
  height: 150px
.text-align-cus
  text-align: center
.w-card-text
  position: relative
  left: -70px
  z-index: 0
  color: $color-primario
.w-card-icon
  width: min-content
  z-index: 1
.tarjeta.color-cus
    background-color: #F4EEFF
    border-radius: 12px
.img-sliderF
  border-radius: 12px
.txt-sliderF
  font-size: 24px
  font-weight: bold
  margin-bottom: 0 !important
  padding-bottom: 0 !important
.slider-1 .txt-sliderF
  color: #fff !important
.slider-1 .slyder-f__btn i
  color: $color-acento-botones
.slider-2 .slyder-f__btn i
  color: $color-primario
.h-slyderF
  height: 240px
.txt-number
  font-size: 38px
  font-weight: 900

//// Tarjetas --------------------------------------
.crd
  &.brd--rad
    border-radius: 20px 
  &.crd--grayGrad
    padding: 2rem
    height: 100%
    background-color: #F6F6F6
    border-radius: 15px    
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    &:hover      
      background: linear-gradient(180deg, rgba(25,137,226,1) 0%, rgba(10,81,139,1) 100%)
      h4, p
        color: white 
      .bottomCircle
        &::before
          background-color: #FED981
  &.crd--blue
    background-color: #B1DBEA

  &.crd--border
    border: 4px solid $color-acento-botones
    border-radius: 20px

.bottomCircle
  position: relative
  & > *
    position: relative
  &::before
    content: ""
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    width: 115px
    height: 115px
    background-color: #116EB9
    border-radius: 999px

.crd--avatarHorizontal
  position: relative
  padding-right: 12rem
  & > *
    position: relative
  .h5 
    color: #12263F
    line-height: 1.5
    font-size: 1em
    font-weight: 900
  p 
    margin-bottom: 0
  &::before  
    position: absolute 
    content: ''
    top: 0
    right: 0
    width: calc( 100% - 60px)
    height: 100%
    background-color: #C5E5FE

  @media (max-width: 1000px)
    padding-right: 2rem

.crd--first
  &::before 
    background-color: #FFEAA6 !important
.crd--second
  &::before 
    background-color: #FFE695 !important
.crd--third
  &::before 
    background-color: #FFE183 !important
.crd--fourth
  &::before 
    background-color: #FFDD72 !important
.crd--last
  &::before 
    background-color: #FFD54F !important
.crd--first
  &::before 
    border-top-left-radius: 30px
.crd--last
  &::before 
    border-bottom-left-radius: 30px
.img250
  width: 770px
.avatar
  position: absolute
  bottom: 0
  right: -8rem
  z-index: 1
  @media (max-width: 1000px)
    display: none
.w-50-cus
  width: 50% !important
.w-40-cus
  width: 40% !important
.mb-cus-4
    margin-bottom: 2em 
.br-bb-td
    border-right: 1px #AFAFAF solid !important
    border-bottom: 1px #AFAFAF solid !important
.bt-td
    border-top: 1px #AFAFAF solid !important
.br-bl-td
    border-left: 1px #AFAFAF solid !important
    border-right: 1px #AFAFAF solid !important
.bg-tr-odd
  background-color: #F6F6F6 !important
.bg-tr-even
  background-color: #fff !important
.br-cn-td
    border-right:  1px #AFAFAF solid !important
.w-col-1
  width: 5% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
.w-col-2
  width: 35% !important;
.w-img-cus
  width: 115px;
.table-xl tr:nth-child(even) 
      background-color: #FFF;
    
.table-xl tr:nth-child(odd) 
      background-color: #F6F6F6;
.table-xl-2 tr:nth-child(even) 
      background-color: #F6F6F6;
    
.table-xl-2 tr:nth-child(odd) 
      background-color: #FFF; 

.px-cus-slyderF
  padding-right: .25rem !important;
  padding-left: .25rem !important;
//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em 
  .mb-cus-2
    margin-bottom: 3em 
  .px-sm-cus  
    padding-left: 2em !important
    padding-right: 2em  !important
  .img-accord-cus
    width: 50%;
    margin: auto;
  .img-accord-cus-2
    margin: auto;
  .text-align-cus
    text-align: left
 
  .w-50-cus, .w-40-cus
    width: auto !important
  .h-card-ctl
    height: 370px

//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  
  .mb-cus
    margin-bottom: 2em 
  
  .mb-cus-2
    margin-bottom: 3em 
  .px-sm-cus  
    padding-left: 2em !important
    padding-right: 2em  !important
  .img-accord-cus
    width: 50%;
    margin: auto;
  
  .text-align-cus
    text-align: left
  
  
  .w-50-cus, .w-40-cus
    width: auto !important
  .h-card-ctl
    height: 370px

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus-3, .mb-cus-5
    margin-bottom: 2em 
  .mb-cus-6
    margin-bottom: 1em 
  .h-anexo, .h-anexo-2, .h-anexo-3, .h-anexo-4, .h-card-ctl
    height: auto
  .img-accord-cus-2 
    margin: auto;
    width: 50%;
  .img-accord-cus 
    width: 50%;
    margin: auto;
  .px-cus-slyderF
    padding-right: .50rem !important;
    padding-left: .50rem !important;
  .h-slyderF
      height: auto
  .tarjeta--container > .tarjeta:first-child 
    border-radius: 20px !important
    margin-bottom: 1em 
  .tarjeta--container > .tarjeta:last-child
    border-radius: 20px !important
  .slyder-a__tipo-b
    padding: 1em

