.banner-principal__img 
  padding-bottom: 0 !important;

 

.titulo-principal.color-acento-contenido .titulo-principal__numero,
.cajon.color-acento-contenido
    background-color: $color-acento-contenido  !important

.cajon.color-acento-contenido:before
   background-color: $color-primario